@import "global";

/* 헤더 스타일 */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-bg);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  height: 50px;
  padding: 0 20px;

  .logo {
    background-image: url("../components/common/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 20vh;
  }

  nav {
    display: flex;
    align-items: center;
    height: 100%;

    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      padding: 0;
      margin: 0;
      align-items: center;
      height: 100%;
      font-size: 14px;
      font-weight: 500;

      li {
        display: flex;
        align-items: center;
        position: relative;

        span {
          padding-right: 3px;
          font-weight: 700;
        }

        a {
          text-decoration: none;

          color: var(--text-color);
          padding: 10px 15px;
          border-radius: 8px;
          transition: 0.3s;
          position: relative;

          &:hover {
            color: var(--highlight-text-color);
          }

          /* 호버 시 아랫줄 추가 */
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -7px; /* 밑줄 위치 조정 */
            width: 100%;
            height: 2px;
            background-color: var(--primary-color);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
          }

          &:hover::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
