.cloud__chart {
  width: 820px;

  .main__text {
    font-size: 25px;
    padding-bottom: 5px;
  }

  .sub__text {
    font-size: 14px;

    span {
      padding-right: 5px;
    }
  }
}
