:root {
  --primary-color: #cc808f; /* 강조색 */
  --secondary-color: #aee2ff; /* 기본 하늘색 */
  --background-color: #f3f3f3; /* 아이보리 계열 */
  --header-bg: #e7d6d6e8; /* 탁한 회색빛 분홍색 */
  --main-bg: #eeeaeae8; /* 연한 회색 */
  --text-color: #4a3f35; /* Dark Coffee 브라운 계열 검정 */
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: auto; // 높이 자동 조정 (스크롤 방지)
  overflow-x: hidden; // 가로 스크롤 기본 제거, 세로는 필요하면 생성
  display: flex;
  flex-direction: column;
}

// 기본 컨테이너 스타일
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
