.dashboard__page {
  padding: 30px 20px;

  .page__header {
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    height: 110px;

    .main__title {
      font-size: 1.8rem;
      font-weight: 700;
      color: var(--highlight-text-color);
      padding-right: 10px;
    }

    .sub__title {
      font-size: 0.95rem;
      color: #191919;
    }
  }

  .filter__wrapper {
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  .chart__wrapper {
    background-color: var(--chart-bg);
    justify-content: center;
    align-items: center;
    height: calc(100% - 210px);
    padding: 15px;

    .title {
      padding-bottom: 15px;
      font-weight: 700;
      font-size: 20px;
      color: var(--highlight-text-color);
    }

    .view__chart {
      display: flex;
      justify-content: space-between;
      height: 530px;
    }

    .bar__chart {
      display: flex;
      justify-content: space-between;
    }
  }
}
