.buttons__wrapper {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 8px;
  padding-left: 8px;

  .filter__buttons {
    border-radius: 10px;
    font-size: 14px;
    background-color: var(--filter-btn);
    color: #191919;

    &.active {
      color: #f5f5f5;
      font-weight: 700;
      background-color: var(--filter-active);
    }

    &:hover {
      background-color: var(--filter-hover);
      transition: transform 0.3s;
    }
  }
}

.log__emo {
  span {
    font-weight: 700;
    font-size: 20px;
  }

  div {
    font-size: 16px;
  }
}
