@import "../../styles/modal.scss";
@include emotions;

@mixin buttons {
  cursor: pointer;
  border: 1px solid rgba(104, 104, 104, 0.05);
  box-shadow: 0 1px 3px rgba(175, 174, 174, 0.08);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.emotion__board {
  text-align: center;
  padding: 30px 20px;

  .page__header {
    justify-content: center;
    padding-bottom: 10px;
    height: 110px;

    .main__title {
      font-size: 1.8rem;
      font-weight: 700;
      color: var(--highlight-text-color);
      padding-right: 10px;
    }

    .sub__title {
      font-size: 0.95rem;
      color: var(--text-color);
    }
  }

  .util__wrapper {
    align-items: center;
    justify-content: center;
    height: 100px;

    .add__button {
      @include buttons;

      &.disabled {
        background-color: #b0b0b0;
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }

  .emotion__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .emotion__card {
      width: 400px;
      height: 300px;
      background: #fbfbfb;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 15px;
      display: flex;
      flex-direction: column;
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-5px);
      }

      .emotion__header {
        font-size: 18px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        color: #724f5b;

        .card__buttons {
          display: flex;
          gap: 8px;

          .edit__button,
          .delete__button {
            @include buttons;
          }
        }
      }

      .emotion__body {
        height: 250px;
        overflow-y: auto;
        overflow-x: hidden;

        .date {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: 20px;
          font-size: 12px;
          color: #a8a1a1;
        }

        .note {
          width: 100%;
          color: #191919;
          font-size: 14px;
          text-overflow: ellipsis;
          display: inherit;
          word-wrap: break-word;
          white-space: pre-wrap;
          -webkit-box-orient: vertical;
          justify-content: flex-start;
          align-items: center;
        }

        .emotion__image {
          max-width: 250px;
          max-height: 250px;
        }
      }
    }
  }
}
